<html>
    <head>
        <meta name="decorator" content="atl.admin"/>
        <meta name="admin.active.section" content="admin_plugins_menu/ttplugins_vm"/>
        <title>Configuration</title>
    </head>
    <body>
        <div id="root"></div>
        $webResourceManager.requireResourcesForContext("reactions.manager.pro.config")
    </body>
</html>